{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div id="jobs">
        {% for category in categories %}
            <div>
                <div class="category">
                    <h1>
                        <a href="{{ path('category_show', {id: category.id}) }}">{{ category.name }}</a>
                    </h1>
                </div>

                {{ include('job/_jobs.html.twig', {jobs: category.activeJobs}) }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
